* {
background-color: rgb(50, 138, 189);
margin: 0;
padding: 0;
color: rgb(54, 54, 54);
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif
}

h1 {
    text-align: center;
font-size: 60px;
margin: 8px;
font-weight: bold;
text-align: center;
}

h2 {
    font-size: 20px;
text-align: center;
margin: 15px;
}


h3 {
margin: 10px;
text-align: center;
}

p {
    text-align: center;
}


.container {
display:flex;
justify-content: center;
align-content: center;
width: 100%;
height: 100%;
position: fixed;
top: 20%;
}

.btn {
display: flex;
justify-content: center;
padding: 10px;
margin: 10px;
text-decoration: none;
border: 1px solid;
border-color: rgb(36, 36, 36);
background-color:  rgb(218, 190, 33);
border-radius: 25px;
opacity: 0.7;

}

.btn:hover {
    box-shadow: 1px 1px 1px rgb(75, 75, 75);
    opacity: 1;
  }


.quizbox {
width: 40%;

}


.choice-box {
    width: 100%;

display: flex;
border-radius: 25px;
margin-bottom: 10px;
background-color: rgb(170, 170, 170);
font-size: 15px;
border: 1px solid black;
opacity: 0.75;

}

.choice-letter {
border-radius: 25px;
padding: 18px;
background-color: rgb(218, 190, 33);
font-size: 20px;
font-weight: 300;
border-radius: 25px;

}

.choice-text {
    border-radius: 25px;
    width: 100%;
background-color :rgb(170, 170, 170);
padding: 18px;
text-align:left;
}
 
.choice-box:hover{
    box-shadow: 1.5px 1.5px 1.5px rgb(75, 75, 75);
    opacity: 1;

}


